/******************** layout ********************/
html{width:100%; overflow-y:scroll; overflow-x:hidden;}
body{position:relative;}
#allwrap {width:100%; min-width:320px;}
#allwrap:after {content:""; display:block; clear:both;}
#allBg {display:none; position:absolute; left:0; top:0; width:100%; height:100%; background:url('../images/bg/bg_allbg.png') left top repeat; overflow:hidden; z-index:991;}
#wrap {position:relative; width:100%;}
#wrap:after {content:""; display:block; clear:both;}



/******************** 하위브라우저 체크 ********************/
#ieUser {width:100%; height:83px; background:#083457; overflow:hidden;}
#ieUser .iewrap {position:relative; max-width:1200px; margin:28px auto 0;}
#ieUser .iewrap p.img {float:left; padding:0 10px 0 0;}
#ieUser .iewrap p.txt {float:left; color:#fff; padding:8px 0 0 0;}
#ieUser .iewrap p.btn {position:absolute; right:0; top:0; cursor:pointer;}
#ieUser .iewrap ul {float:left; margin:0 0 0 20px;}
#ieUser .iewrap ul li {float:left; padding:0 12px 0 0;}



/********* header *********/
header {position:relative; width:100%; height:70px; background:#fff; border-bottom:1px #dfdfe0 solid;}
header:after {content:""; display:block; clear:both;}
header h1 {float:left;}
header #snb {float:right;}
header #snb:after {content:""; display:block; clear:both;}
header #snb ul {float:left; margin:28px 28px 0 0;}
header #snb ul:after {content:""; display:block; clear:both;}
header #snb ul li {float:left; background:url('../images/bg/bg_snb_f.gif') right 50% no-repeat;}
header #snb ul li.last {background:url('');}
header #snb ul li.last a {padding:0 0 0 15px;}
header #snb ul li a {display:block; font-size:12px; color:#999; font-weight:500; padding:0 15px;}
header #mOpen {float:left; margin:5px 25px 0 0;}

#navi {position:fixed; right:0; top:0; width:0; background:#fff; overflow:hidden; z-index:9999;}
#navi #mClose {position:relative; width:100%; height:100px; overflow:hidden;}
#navi #mClose a {position:absolute; right:24px; top:24px;}
#navi #topMenu {position:relative; width:100%;}
#navi #topMenu:after {content:""; display:block; clear:both;}
#navi #topMenu ul {display:none;}
#navi #topMenu ul:after {content:""; display:block; clear:both;}
#navi #topMenu ul li {position:relative; 
padding:0 0 0 110px;
-webkit-animation-duration: 0.5s;
	animation-duration: 0.5s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-name: returnToNormal;
	animation-name: returnToNormal;
}
@-webkit-keyframes returnToNormal {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes returnToNormal {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

#navi #topMenu ul li a {display:inline-block;}
#navi #topMenu ul li a span {font-family: 'RixGulim'; font-size:36px; color:#999; font-weight:300; line-height:70px;}
#navi #topMenu ul li a:hover span {font-family: 'RixGulim'; color:#cf2b2d; font-weight:800;}
#navi #topMenu ul li#magic-line {display:none; position:absolute; top:0; height:70px; padding:0; z-index:-1;}
#navi #topMenu ul li#magic-line span {display:block; width:16px; height:16px;}
#navi #topMenu ul li#magic-line span.rt {position:absolute; right:0; top:0; background:url('../images/bg/bg_mline_span_rt.png') left top no-repeat;}
#navi #topMenu ul li#magic-line span.rb {position:absolute; right:0; bottom:0; background:url('../images/bg/bg_mline_span_rb.png') left top no-repeat;}
#navi #topMenu ul li#magic-line span.lt {position:absolute; left:0; top:0; background:url('../images/bg/bg_mline_span_lt.png') left top no-repeat;}
#navi #topMenu ul li#magic-line span.lb {position:absolute; left:0; bottom:0; background:url('../images/bg/bg_mline_span_lb.png') left top no-repeat;}

#navi #msnb {width:100%; margin:30px 0 0 0; overflow:hidden;}
#navi #msnb:after {content:""; display:block; clear:both;}
#navi #msnb ul {display:none; padding:30px 0 0 0; margin:0 0 0 110px; background:url('../images/bg/bg_msb.gif') left top no-repeat;}
#navi #msnb ul:after {content:""; display:block; clear:both;}
#navi #msnb ul li a {display:block; font-family: 'RixGulim'; font-size:18px; color:#999; font-weight:600; padding:15px 0;}
#navi #msnb ul li a:hover {font-family: 'RixGulim'; color:#cf2b2d;}








/******** intro ********/
#introSection {width:100%; overflow:hidden;}
#introSection .inbox {width:1400px; margin:0 auto; overflow:hidden;}
#introSection .inbox .intro {position:relative; width:100%; height:550px; text-align:center;}
#introSection .inbox .intro:after {content:""; display:block; clear:both;}
#introSection .inbox .intro .step01 {position:absolute; left:50%; top:-510px; margin:0 0 0 -307px;}
#introSection .inbox .intro .step02 {display:none; position:absolute; left:50%; top:50%; margin:-81px 0 0 -210px;}
#introSection .inbox .intro .step03 {display:none; position:absolute; left:50%; top:50%; margin:-93px 0 0 -194px;}
#introSection .inbox .intro .step04 {display:none; position:absolute; left:50%; top:50%; margin:-206px 0 0 -507px;}
#introSection .inbox .intro .overlay{position:absolute; top:0; left:0; width:100%; height:100%; background:black; z-index:4;}

#introSection .inbox .mainBanner {width:1050px; margin:0 auto; overflow:hidden;}
#introSection .inbox .mainBanner ul {margin:0 -0.5% 0 0;}
#introSection .inbox .mainBanner ul:after {content:""; display:block; clear:both;}
#introSection .inbox .mainBanner ul li {display:none; position:relative; float:left; width:32.5%; height:150px; margin:0 0.8% 10px 0;}
#introSection .inbox .mainBanner ul li .imgArea {position:relative; width:100%; z-index:1;}
#introSection .inbox .mainBanner ul li .imgArea:after {content:""; display:block; clear:both;}
#introSection .inbox .mainBanner ul li .imgArea img {width:100%;}
#introSection .inbox .mainBanner ul li .hover {display:none; position:absolute; left:0; top:0; width:100%; height:150px; background:#ce2b2c; overflow:hidden; z-index:2;}
#introSection .inbox .mainBanner ul li .hover div {position:absolute; left:50%; top:50%; width:264px; height:90px; margin:-45px 0 0 -132px; text-align:center;}
#introSection .inbox .mainBanner ul li .hover div p {font-family: 'RixGulim'; font-size:18px; color:#fff; font-weight:300; padding:18px 0; line-height:1.3; background:url('../images/bg/bg_mainbanner_hover_arrow.png') center bottom no-repeat;}
#introSection .inbox .mainBanner ul li .hover div p strong {font-family: 'RixGulim'; font-size:18px; color:#fff; font-weight:800;}
#introSection .inbox .mainBanner ul li .hover div span {width:19px; height:19px;}
#introSection .inbox .mainBanner ul li .hover div .lt {position:absolute; left:50%; top:50%; background:url('../images/bg/bg_mainbanner_hover_lt.png') left top no-repeat;}
#introSection .inbox .mainBanner ul li .hover div .lb {position:absolute; left:50%; bottom:50%; background:url('../images/bg/bg_mainbanner_hover_lb.png') left top no-repeat;}
#introSection .inbox .mainBanner ul li .hover div .rt {position:absolute; right:50%; top:50%; background:url('../images/bg/bg_mainbanner_hover_rt.png') left top no-repeat;}
#introSection .inbox .mainBanner ul li .hover div .rb {position:absolute; right:50%; bottom:50%; background:url('../images/bg/bg_mainbanner_hover_rb.png') left top no-repeat;}








/***************** rolling *******************/
.swiper-container{margin-left:auto;margin-right:auto;position:relative;z-index:1}.swiper-container-no-flexbox .swiper-slide{float:left}.swiper-container-vertical>.swiper-wrapper{-webkit-box-orient:vertical;-moz-box-orient:vertical;-ms-flex-direction:column;-webkit-flex-direction:column;flex-direction:column}.swiper-wrapper{position:relative;width:100%;height:100%;z-index:1;display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;-webkit-transition-property:-webkit-transform;-moz-transition-property:-moz-transform;-o-transition-property:-o-transform;-ms-transition-property:-ms-transform;transition-property:transform;-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box}.swiper-container-android .swiper-slide,.swiper-wrapper{-webkit-transform:translate3d(0,0,0);-moz-transform:translate3d(0,0,0);-o-transform:translate(0,0);-ms-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}.swiper-container-multirow>.swiper-wrapper{-webkit-box-lines:multiple;-moz-box-lines:multiple;-ms-flex-wrap:wrap;-webkit-flex-wrap:wrap;flex-wrap:wrap}.swiper-container-free-mode>.swiper-wrapper{-webkit-transition-timing-function:ease-out;-moz-transition-timing-function:ease-out;-ms-transition-timing-function:ease-out;-o-transition-timing-function:ease-out;transition-timing-function:ease-out;margin:0 auto}.swiper-slide{-webkit-flex-shrink:0;-ms-flex:0 0 auto;flex-shrink:0;width:100%;height:100%;position:relative}.swiper-container-autoheight,.swiper-container-autoheight .swiper-slide{height:auto}.swiper-container-autoheight .swiper-wrapper{-webkit-box-align:start;-ms-flex-align:start;-webkit-align-items:flex-start;align-items:flex-start;-webkit-transition-property:-webkit-transform,height;-moz-transition-property:-moz-transform;-o-transition-property:-o-transform;-ms-transition-property:-ms-transform;transition-property:transform,height}.swiper-container .swiper-notification{position:absolute;left:0;top:0;pointer-events:none;opacity:0;z-index:-1000}.swiper-wp8-horizontal{-ms-touch-action:pan-y;touch-action:pan-y}.swiper-wp8-vertical{-ms-touch-action:pan-x;touch-action:pan-x}.swiper-button-next,.swiper-button-prev{position:absolute;top:50%;width:27px;height:44px;margin-top:-22px;z-index:10;cursor:pointer;-moz-background-size:27px 44px;-webkit-background-size:27px 44px;background-size:27px 44px;background-position:center;background-repeat:no-repeat}.swiper-button-next.swiper-button-disabled,.swiper-button-prev.swiper-button-disabled{opacity:.35;cursor:auto;pointer-events:none}.swiper-button-prev,.swiper-container-rtl .swiper-button-next{background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E");left:10px;right:auto}.swiper-button-prev.swiper-button-black,.swiper-container-rtl .swiper-button-next.swiper-button-black{background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23000000'%2F%3E%3C%2Fsvg%3E")}.swiper-button-prev.swiper-button-white,.swiper-container-rtl .swiper-button-next.swiper-button-white{background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E")}.swiper-button-next,.swiper-container-rtl .swiper-button-prev{background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E");right:10px;left:auto}.swiper-button-next.swiper-button-black,.swiper-container-rtl .swiper-button-prev.swiper-button-black{background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23000000'%2F%3E%3C%2Fsvg%3E")}.swiper-button-next.swiper-button-white,.swiper-container-rtl .swiper-button-prev.swiper-button-white{background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E")}.swiper-pagination{position:absolute;text-align:center;-webkit-transition:.3s;-moz-transition:.3s;-o-transition:.3s;transition:.3s;-webkit-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0);-o-transform:translate3d(0,0,0);transform:translate3d(0,0,0);z-index:10}.swiper-pagination.swiper-pagination-hidden{opacity:0}.swiper-container-horizontal>.swiper-pagination-bullets,.swiper-pagination-custom,.swiper-pagination-fraction{bottom:10px;left:0;width:100%}.swiper-pagination-bullet{width:8px;height:8px;display:inline-block;border-radius:100%;background:#000;opacity:.2}button.swiper-pagination-bullet{border:none;margin:0;padding:0;box-shadow:none;-moz-appearance:none;-ms-appearance:none;-webkit-appearance:none;appearance:none}.swiper-pagination-clickable .swiper-pagination-bullet{cursor:pointer}.swiper-pagination-white .swiper-pagination-bullet{background:#fff}.swiper-pagination-bullet-active{opacity:1;background:#007aff}.swiper-pagination-white .swiper-pagination-bullet-active{background:#fff}.swiper-pagination-black .swiper-pagination-bullet-active{background:#000}.swiper-container-vertical>.swiper-pagination-bullets{right:10px;top:50%;-webkit-transform:translate3d(0,-50%,0);-moz-transform:translate3d(0,-50%,0);-o-transform:translate(0,-50%);-ms-transform:translate3d(0,-50%,0);transform:translate3d(0,-50%,0)}.swiper-container-vertical>.swiper-pagination-bullets .swiper-pagination-bullet{margin:5px 0;display:block}.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet{margin:0 5px}.swiper-pagination-progress{background:rgba(0,0,0,.25);position:absolute}.swiper-pagination-progress .swiper-pagination-progressbar{background:#007aff;position:absolute;left:0;top:0;width:100%;height:100%;-webkit-transform:scale(0);-ms-transform:scale(0);-o-transform:scale(0);transform:scale(0);-webkit-transform-origin:left top;-moz-transform-origin:left top;-ms-transform-origin:left top;-o-transform-origin:left top;transform-origin:left top}.swiper-container-rtl .swiper-pagination-progress .swiper-pagination-progressbar{-webkit-transform-origin:right top;-moz-transform-origin:right top;-ms-transform-origin:right top;-o-transform-origin:right top;transform-origin:right top}.swiper-container-horizontal>.swiper-pagination-progress{width:100%;height:4px;left:0;top:0}.swiper-container-vertical>.swiper-pagination-progress{width:4px;height:100%;left:0;top:0}.swiper-pagination-progress.swiper-pagination-white{background:rgba(255,255,255,.5)}.swiper-pagination-progress.swiper-pagination-white .swiper-pagination-progressbar{background:#fff}.swiper-pagination-progress.swiper-pagination-black .swiper-pagination-progressbar{background:#000}.swiper-container-3d{-webkit-perspective:1200px;-moz-perspective:1200px;-o-perspective:1200px;perspective:1200px}.swiper-container-3d .swiper-cube-shadow,.swiper-container-3d .swiper-slide,.swiper-container-3d .swiper-slide-shadow-bottom,.swiper-container-3d .swiper-slide-shadow-left,.swiper-container-3d .swiper-slide-shadow-right,.swiper-container-3d .swiper-slide-shadow-top,.swiper-container-3d .swiper-wrapper{-webkit-transform-style:preserve-3d;-moz-transform-style:preserve-3d;-ms-transform-style:preserve-3d;transform-style:preserve-3d}.swiper-container-3d .swiper-slide-shadow-bottom,.swiper-container-3d .swiper-slide-shadow-left,.swiper-container-3d .swiper-slide-shadow-right,.swiper-container-3d .swiper-slide-shadow-top{position:absolute;left:0;top:0;width:100%;height:100%;pointer-events:none;z-index:10}.swiper-container-3d .swiper-slide-shadow-left{background-image:-webkit-gradient(linear,left top,right top,from(rgba(0,0,0,.5)),to(rgba(0,0,0,0)));background-image:-webkit-linear-gradient(right,rgba(0,0,0,.5),rgba(0,0,0,0));background-image:-moz-linear-gradient(right,rgba(0,0,0,.5),rgba(0,0,0,0));background-image:-o-linear-gradient(right,rgba(0,0,0,.5),rgba(0,0,0,0));background-image:linear-gradient(to left,rgba(0,0,0,.5),rgba(0,0,0,0))}.swiper-container-3d .swiper-slide-shadow-right{background-image:-webkit-gradient(linear,right top,left top,from(rgba(0,0,0,.5)),to(rgba(0,0,0,0)));background-image:-webkit-linear-gradient(left,rgba(0,0,0,.5),rgba(0,0,0,0));background-image:-moz-linear-gradient(left,rgba(0,0,0,.5),rgba(0,0,0,0));background-image:-o-linear-gradient(left,rgba(0,0,0,.5),rgba(0,0,0,0));background-image:linear-gradient(to right,rgba(0,0,0,.5),rgba(0,0,0,0))}.swiper-container-3d .swiper-slide-shadow-top{background-image:-webkit-gradient(linear,left top,left bottom,from(rgba(0,0,0,.5)),to(rgba(0,0,0,0)));background-image:-webkit-linear-gradient(bottom,rgba(0,0,0,.5),rgba(0,0,0,0));background-image:-moz-linear-gradient(bottom,rgba(0,0,0,.5),rgba(0,0,0,0));background-image:-o-linear-gradient(bottom,rgba(0,0,0,.5),rgba(0,0,0,0));background-image:linear-gradient(to top,rgba(0,0,0,.5),rgba(0,0,0,0))}.swiper-container-3d .swiper-slide-shadow-bottom{background-image:-webkit-gradient(linear,left bottom,left top,from(rgba(0,0,0,.5)),to(rgba(0,0,0,0)));background-image:-webkit-linear-gradient(top,rgba(0,0,0,.5),rgba(0,0,0,0));background-image:-moz-linear-gradient(top,rgba(0,0,0,.5),rgba(0,0,0,0));background-image:-o-linear-gradient(top,rgba(0,0,0,.5),rgba(0,0,0,0));background-image:linear-gradient(to bottom,rgba(0,0,0,.5),rgba(0,0,0,0))}.swiper-container-coverflow .swiper-wrapper,.swiper-container-flip .swiper-wrapper{-ms-perspective:1200px}.swiper-container-cube,.swiper-container-flip{overflow:visible}.swiper-container-cube .swiper-slide,.swiper-container-flip .swiper-slide{pointer-events:none;-webkit-backface-visibility:hidden;-moz-backface-visibility:hidden;-ms-backface-visibility:hidden;backface-visibility:hidden;z-index:1}.swiper-container-cube .swiper-slide .swiper-slide,.swiper-container-flip .swiper-slide .swiper-slide{pointer-events:none}.swiper-container-cube .swiper-slide-active,.swiper-container-cube .swiper-slide-active .swiper-slide-active,.swiper-container-flip .swiper-slide-active,.swiper-container-flip .swiper-slide-active .swiper-slide-active{pointer-events:auto}.swiper-container-cube .swiper-slide-shadow-bottom,.swiper-container-cube .swiper-slide-shadow-left,.swiper-container-cube .swiper-slide-shadow-right,.swiper-container-cube .swiper-slide-shadow-top,.swiper-container-flip .swiper-slide-shadow-bottom,.swiper-container-flip .swiper-slide-shadow-left,.swiper-container-flip .swiper-slide-shadow-right,.swiper-container-flip .swiper-slide-shadow-top{z-index:0;-webkit-backface-visibility:hidden;-moz-backface-visibility:hidden;-ms-backface-visibility:hidden;backface-visibility:hidden}.swiper-container-cube .swiper-slide{visibility:hidden;-webkit-transform-origin:0 0;-moz-transform-origin:0 0;-ms-transform-origin:0 0;transform-origin:0 0;width:100%;height:100%}.swiper-container-cube.swiper-container-rtl .swiper-slide{-webkit-transform-origin:100% 0;-moz-transform-origin:100% 0;-ms-transform-origin:100% 0;transform-origin:100% 0}.swiper-container-cube .swiper-slide-active,.swiper-container-cube .swiper-slide-next,.swiper-container-cube .swiper-slide-next+.swiper-slide,.swiper-container-cube .swiper-slide-prev{pointer-events:auto;visibility:visible}.swiper-container-cube .swiper-cube-shadow{position:absolute;left:0;bottom:0;width:100%;height:100%;background:#000;opacity:.6;-webkit-filter:blur(50px);filter:blur(50px);z-index:0}.swiper-container-fade.swiper-container-free-mode .swiper-slide{-webkit-transition-timing-function:ease-out;-moz-transition-timing-function:ease-out;-ms-transition-timing-function:ease-out;-o-transition-timing-function:ease-out;transition-timing-function:ease-out}.swiper-container-fade .swiper-slide{pointer-events:none;-webkit-transition-property:opacity;-moz-transition-property:opacity;-o-transition-property:opacity;transition-property:opacity}.swiper-container-fade .swiper-slide .swiper-slide{pointer-events:none}.swiper-container-fade .swiper-slide-active,.swiper-container-fade .swiper-slide-active .swiper-slide-active{pointer-events:auto}.swiper-zoom-container{width:100%;height:100%;display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;-webkit-box-pack:center;-moz-box-pack:center;-ms-flex-pack:center;-webkit-justify-content:center;justify-content:center;-webkit-box-align:center;-moz-box-align:center;-ms-flex-align:center;-webkit-align-items:center;align-items:center;text-align:center}.swiper-zoom-container>canvas,.swiper-zoom-container>img,.swiper-zoom-container>svg{max-width:100%;max-height:100%;object-fit:contain}.swiper-scrollbar{border-radius:10px;position:relative;-ms-touch-action:none;background:rgba(0,0,0,.1)}.swiper-container-horizontal>.swiper-scrollbar{position:absolute;left:1%;bottom:3px;z-index:50;height:5px;width:98%}.swiper-container-vertical>.swiper-scrollbar{position:absolute;right:3px;top:1%;z-index:50;width:5px;height:98%}.swiper-scrollbar-drag{height:100%;width:100%;position:relative;background:rgba(0,0,0,.5);border-radius:10px;left:0;top:0}.swiper-scrollbar-cursor-drag{cursor:move}.swiper-lazy-preloader{width:42px;height:42px;position:absolute;left:50%;top:50%;margin-left:-21px;margin-top:-21px;z-index:10;-webkit-transform-origin:50%;-moz-transform-origin:50%;transform-origin:50%;-webkit-animation:swiper-preloader-spin 1s steps(12,end) infinite;-moz-animation:swiper-preloader-spin 1s steps(12,end) infinite;animation:swiper-preloader-spin 1s steps(12,end) infinite}.swiper-lazy-preloader:after{display:block;content:"";width:100%;height:100%;background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%20120%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%3E%3Cdefs%3E%3Cline%20id%3D'l'%20x1%3D'60'%20x2%3D'60'%20y1%3D'7'%20y2%3D'27'%20stroke%3D'%236c6c6c'%20stroke-width%3D'11'%20stroke-linecap%3D'round'%2F%3E%3C%2Fdefs%3E%3Cg%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(30%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(60%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(90%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(120%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(150%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.37'%20transform%3D'rotate(180%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.46'%20transform%3D'rotate(210%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.56'%20transform%3D'rotate(240%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.66'%20transform%3D'rotate(270%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.75'%20transform%3D'rotate(300%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.85'%20transform%3D'rotate(330%2060%2C60)'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");background-position:50%;-webkit-background-size:100%;background-size:100%;background-repeat:no-repeat}.swiper-lazy-preloader-white:after{background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%20120%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%3E%3Cdefs%3E%3Cline%20id%3D'l'%20x1%3D'60'%20x2%3D'60'%20y1%3D'7'%20y2%3D'27'%20stroke%3D'%23fff'%20stroke-width%3D'11'%20stroke-linecap%3D'round'%2F%3E%3C%2Fdefs%3E%3Cg%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(30%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(60%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(90%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(120%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(150%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.37'%20transform%3D'rotate(180%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.46'%20transform%3D'rotate(210%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.56'%20transform%3D'rotate(240%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.66'%20transform%3D'rotate(270%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.75'%20transform%3D'rotate(300%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.85'%20transform%3D'rotate(330%2060%2C60)'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E")}@-webkit-keyframes swiper-preloader-spin{100%{-webkit-transform:rotate(360deg)}}@keyframes swiper-preloader-spin{100%{transform:rotate(360deg)}}


/******** AtoZ ********/
#atoz {display:none; width:100%; height:200px; margin:30px 0 0 0; background:url('../images/bg/bg_atoz.png') left bottom repeat-x; overflow:hidden;}

.atozRoll {width:1400px; margin:0 auto; overflow:hidden;}
.atozRoll .imgArea {width:100%; text-align:center; overflow:hidden;}
.atozRoll .txtArea {width:auto; font-family: 'RixGulim'; font-weight:300; font-size:17px; color:#fff; line-height:1.3; text-align:center; margin:10px 0 0 0; padding:4px 0 0 0; overflow:hidden;}
.atozRoll .txtArea.first {font-family: 'RixGulim'; font-weight:300; font-size:13px; color:#fff; line-height:1.3; padding:4px 0 0 80px; margin:4px 0 0 20px ;background:url('../images/img/atozroll_txt_logo.png') left top no-repeat; text-align:left; }




/******** footer ********/
#footerWrap {display:none; width:100%; padding:30px 0 58px 0; background:#fff;}
#footerWrap:after {content:""; display:block; clear:both;}
footer {position:relative; width:1400px; margin:0 auto;}
footer:after {content:""; display:block; clear:both;}
footer .flogo {position:absolute; left:10px; top:30px;}
footer .topBtn {position:absolute; right:10px; top:-30px;}

footer .fnb {width:100%; padding:35px 0 0 0; overflow:hidden;}
footer .fnb ul {margin:0 0 0 158px;}
footer .fnb ul:after {content:""; display:block; clear:both;}
footer .fnb ul li {float:left; padding:0 15px 0 0; margin:0 15px 0 0; background:url('../images/bg/bg_fnb.gif') right 4px no-repeat;}
footer .fnb ul li a {font-size:16px; color:#666;}
footer .fnb ul li.last {background:url('');}

footer .fsns {position:absolute; right:10px; top:25px;}
footer .fsns ul:after {content:""; display:block; clear:both;}
footer .fsns ul li {float:left; padding:0 0 0 10px;}
footer .fsns ul li.last {padding:0 0 0 12px;}

footer .copyRight {width:100%; font-size:13px; color:#777; padding:6px 0 0 0; margin:0 0 0 158px; overflow:hidden;}
footer .copyRight span {font-size:13px;}

footer address {width:100%; padding:18px 0 6px 158px; overflow:hidden;}
footer address ul:after {content:""; display:block; clear:both;}
footer address ul li {float:left; font-size:13px; color:#777; padding:0 16px 0 0;}
footer address ul li strong {font-size:13px; color:#333; font-weight:600;}















/************** media query 1440px *************/
@media all and (max-width: 1440px){

#introSection .inbox  {width:auto; margin:0 20px;}


footer {width:auto; margin:0 20px 58px;}

}





/************** media query 1400px *************/
@media all and (max-width: 1400px){

.atozRoll {width:100%;}

}



/************** media query 1240px *************/
@media all and (max-width: 1240px){


}


/************** media query 1080px *************/
@media all and (max-width: 1080px){

footer address ul li.dep01 {clear:both; padding:8px 0 0 0;}
footer address ul li.dep02 {float:left; padding:8px 0 0 16px;}

#introSection .inbox .mainBanner {width:640px;}
#introSection .inbox .mainBanner ul {margin:0 -1% 0 0;}
#introSection .inbox .mainBanner ul li {width:49%; height:138px; margin:0 1% 1.1% 0;}
#introSection .inbox .mainBanner ul li .hover {height:138px;}
#introSection .inbox .mainBanner ul li .hover div {width:280px; height:90px; margin:-45px 0 0 -140px;}
#introSection .inbox .mainBanner ul li .hover div p {font-size:18px;}
#introSection .inbox .mainBanner ul li .hover div p strong {font-size:18px;}


}


/************** media query 1020px *************/
@media all and (max-width: 1020px){

#introSection .inbox {margin:0;}
#introSection .inbox .intro {height:472px;}
#introSection .inbox .intro .step01 {position:absolute; left:50%; top:-510px; margin:0 0 0 -250px;}
#introSection .inbox .intro .step01 img {width:500px;}
#introSection .inbox .intro .step02 {margin:-75px 0 0 -190px;}
#introSection .inbox .intro .step02 img {width:380px;}
#introSection .inbox .intro .step03 {margin:-90px 0 0 -174px;}
#introSection .inbox .intro .step03 img {width:348px;}
#introSection .inbox .intro .step04 {margin:-168px 0 0 -414px;}
#introSection .inbox .intro .step04 img {width:900px;}




}


/************** media query 680px *************/
@media all and (max-width: 680px){

footer {margin:0 20px 30px;}
footer .flogo {position:relative; left:0; top:0; margin:30px 0 0 0; text-align:center;}
footer .fnb {padding:30px 0 0 0;}
footer .fnb ul {text-align:center; margin:0;}
footer .fnb ul li {display:inline; float:none; margin:0 12px 0 0;}
footer .fnb ul li.last {padding:0; margin:0;}
footer .fsns {position:relative; right:auto; left:0; top:0; margin:30px 0 0 0;}
footer .fsns ul {text-align:center;}
footer .fsns ul li {display:inline; float:none;}
footer .copyRight {text-align:center; margin:0;}
footer .copyRight span {display:block; padding:8px 0 0 0;}

footer address {padding:18px 0 6px 0;}
footer address ul {text-align:center;}
footer address ul li {display:block; float:none; padding:4px 0;}
footer address ul li.dep01 {padding:4px 0;}
footer address ul li.dep02 {float:none; padding:4px 0;}

footer .topBtn {top:-60px; right:0;}

}






/************** media query 640px *************/
@media all and (max-width: 640px){

header #snb ul {display:none;}

#introSection .inbox .mainBanner {width:auto;}
#introSection .inbox .mainBanner ul li {height:auto;}
#introSection .inbox .mainBanner ul li .hover {height:100%;}
#introSection .inbox .mainBanner ul li .hover div {width:80%; height:70%; margin:-15% 0 0 -40%;}
#introSection .inbox .mainBanner ul li .hover div p {font-size:16px; padding:8% 0 6%;}
#introSection .inbox .mainBanner ul li .hover div p strong {font-size:16px;}



}






/************** media query 540px *************/
@media all and (max-width: 540px){

#navi #topMenu ul li {padding:0 0 0 60px;}
#navi #msnb ul {margin:0 0 0 60px;}

#introSection .inbox .intro {height:328px;}
#introSection .inbox .intro .step01 {margin:0 0 0 -200px;}
#introSection .inbox .intro .step01 img {width:400px;}
#introSection .inbox .intro .step02 {margin:-51px 0 0 -140px;}
#introSection .inbox .intro .step02 img {width:280px;}
#introSection .inbox .intro .step03 {margin:-66px 0 0 -124px;}
#introSection .inbox .intro .step03 img {width:248px;}
#introSection .inbox .intro .step04 {margin:-134px 0 0 -330px;}
#introSection .inbox .intro .step04 img {width:718px;}

}




/************** media query 480px *************/
@media all and (max-width: 480px){

header {height:50px;}
header h1 img {height:50px; margin:0 0 0 -10px;}
header #mOpen {margin:5px 10px 0 0;}
header #mOpen img {width:40px;}

#navi #mClose {height:70px;}
#navi #mClose a {right:15px; top:15px;}
#navi #mClose img {width:40px;}

#navi #topMenu ul li a span {font-size:20px; line-height:38px;}
#navi #topMenu ul li#magic-line {height:38px;}
#navi #topMenu ul li#magic-line span {width:10px; height:10px;}
#navi #topMenu ul li#magic-line span.rt {background-size:10px 10px;}
#navi #topMenu ul li#magic-line span.rb {background-size:10px 10px;}
#navi #topMenu ul li#magic-line span.lt {background-size:10px 10px;}
#navi #topMenu ul li#magic-line span.lb {background-size:10px 10px;}

#navi #msnb {margin:22px 0 0 0;}
#navi #msnb ul {padding:25px 0 0 0; background-size:20px 1px;}
#navi #msnb ul li a {font-size:10px;}
#navi #msnb ul li a {padding:8px 0;}


#introSection .inbox .intro {height:276px;}
#introSection .inbox .intro .step01 {margin:0 0 0 -160px;}
#introSection .inbox .intro .step01 img {width:320px;}
#introSection .inbox .intro .step02 {margin:-35px 0 0 -100px;}
#introSection .inbox .intro .step02 img {width:200px;}
#introSection .inbox .intro .step03 {margin:-54px 0 0 -100px;}
#introSection .inbox .intro .step03 img {width:200px;}
#introSection .inbox .intro .step04 {margin:-108px 0 0 -264px;}
#introSection .inbox .intro .step04 img {width:575px;}

#introSection .inbox .mainBanner ul li .hover div span {width:10px; height:10px;}
#introSection .inbox .mainBanner ul li .hover div .lt {background-size:10px 10px;}
#introSection .inbox .mainBanner ul li .hover div .lb {background-size:10px 10px;}
#introSection .inbox .mainBanner ul li .hover div .rt {background-size:10px 10px;}
#introSection .inbox .mainBanner ul li .hover div .rb {background-size:10px 10px;}
#introSection .inbox .mainBanner ul li .hover div p {font-size:13px; background-size:20px 9px;}
#introSection .inbox .mainBanner ul li .hover div p strong {font-size:13px;}


#atoz {height:140px; margin:15px 0 0 0; background-position:left -32px;}
.atozRoll .imgArea img {height:90px;}
.atozRoll .txtArea {font-size:13px; margin:9px 0 0 0;}
.atozRoll .txtArea.first {font-size:11px; background-position:15% 3px; background-size:60px 28px; padding:4px 0 0 45%;}

#footerWrap {padding:22px 0 0 0;}

footer .flogo {margin:18px 0 0 0;}
footer .flogo img {width:90px;}
footer .fnb {padding:18px 0 0 0;}
footer .fnb ul li a {font-size:12px;}
footer .fsns {margin:20px 0 0 0;}
footer .fsns img {height:20px;}
footer address ul li {font-size:11px;}
footer address ul li strong {font-size:11px;}
footer .copyRight {font-size:11px;}
footer .copyRight span {font-size:11px;}

footer .topBtn {top:-40px;}
footer .topBtn img {width:50px;}

}












